* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: darkblue;
}

@media screen and (min-width: 350px) {
  body {
    margin: 20px;
    padding: 20px;
    width: 25%;
    height: 50%;
    border: 2px solid darkorange;
  }

  header {
    display: flex;
    justify-content: center;
    color: lightblue;
    font-style: italic;
    font-size: 30px;
  }

  .convert {
    box-sizing: border-box;
    padding: 20px;
    width: 25%;
    height: 50%;

    border: 2px solid lightsalmon;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 5px;
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__convert-morse {
      margin: 20px;
      padding: 10px;
    }

    &__convert-text {
      margin: 20px;
      padding: 10px;
    }

    &__clear {
      margin: 20px;
      padding: 10px;
    }
  }
}
